<!-- <app-figlio [valorePadre]="title"></app-figlio> -->

<div *ngIf="true">
  <p>prova ngIf</p>
</div>

<div *ngFor="let dati of lista">
 {{dati.nome}}
 {{dati.cognome}}
 {{dati.citta}}
</div>

<div [ngSwitch]="'orazio'">
  <p *ngSwitchCase="'orazio'">SWITCH TRUE</p>
  <p *ngSwitchCase="'ventrella'">switch false</p>
</div>

{{title}}

{{valorePreso}}
<!--
<app-figlio2 (evento)="riceviEvento($event)"></app-figlio2> -->

<app-form></app-form>


{{nome | test}}



<div *ngFor="let persona of persone">
  {{persona | json}}
 </div>

<div>
  <button (click)="get()"> get</button>

  <button (click)="post()"> post</button>

  <button (click)="aggiorna()"> aggiorna</button>

  <button (click)="getById()">get by id</button>
</div>

<p> persona presa tramite id {{personaSingola | json}}</p>



<button [routerLink]="[{ outlets: {uscita1:['figlio']} }]">figlio1</button>
<button [routerLink]="[{ outlets: {uscita2:['figlio2']} }]">figlio2</button>


<!-- <button routerLink="figlio1">figlio1</button>
<button routerLink="figlio2">figlio2</button> -->


<button (click)="goToSon()">figlio con metodo</button>
<button (click)="goToSon2()">figlio2 con metodo</button>

<!-- <router-outlet></router-outlet> -->

<router-outlet name="uscita1"></router-outlet>
<router-outlet name="uscita2"></router-outlet>
